<footer class="site-footer outer">
  <div class="site-footer-content inner">
    <section class="copyright" style="line-height: 1.3em;">
      <a href="/">{{.Site.Params.orgName}}</a> {{.Site.Params.copyright}} <br>
      <span style="font-size: 0.8em; color: #555;">阿离随记 <a href="https://github.com/TryGhost/Casper">Casper 2.1.7</a> by <a href="https://www.telematika.org">ALi</a></span>
    </section>
    <nav class="site-footer-nav">
        <a href="/">阿离</a>
        <a href="https://user.qzone.qq.com/814403596/main">空间</a>
        <a href="http://t.qq.com/fen989264">微博</a>
        <a href="http://www.duwenzhang.com/">美文</a>
    </nav>  
  </div>
</footer>
